# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
osx_image: xcode7.3

before_install:
  - brew update
  - brew install carthage

before_script:
  - carthage bootstrap --verbose --platform ios --color auto --no-use-binaries
